
<table id="scentab" mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
    <!-- [dataSource]="array" -->
   <!-- Position Column -->
   <ng-container matColumnDef="radio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> &#10004;
      </th>
      <td mat-cell *matCellDef="let element"> 
          
              <mat-radio-button class="select radiocolor" value="{{element.id}}"><span class="checkmark">&#10004;</span></mat-radio-button>
          
         </td>
    </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="scenario">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Scenario Name 
        <span class="rightFace"></span>
        <span ><i class="material-icons">arrow_drop_down</i></span>
    </th>
    <td mat-cell *matCellDef="let element"> 
      
      <a href="#"> {{element.scenarioname}}</a>
       
       </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="owner">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> Owner 
        <span class="rightFace"></span>
        <span ><i class="material-icons">arrow_drop_down</i></span>

    </th>
    <td mat-cell *matCellDef="let element"> {{element.scenarioowner}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created
        <span class="rightFace"></span>
        <span ><i class="material-icons">arrow_drop_down</i></span>

    </th>
    <td mat-cell *matCellDef="let element"> {{element.scenariodate}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Version 
        <span class="rightFace"></span>
        <span ><i class="material-icons">arrow_drop_down</i></span>

    </th>
    <td mat-cell *matCellDef="let element"> {{element.scenarioversion}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status 
          <span class="rightFace"></span>
          <span ><i class="material-icons">arrow_drop_down</i></span>

      </th>
      <td mat-cell matTooltip="Info about the status" *matCellDef="let element"> {{element.scenariostatus}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 25]" [pageSize]="10" [length]="dataSource.length"></mat-paginator>

    
<!-- <table>
          <tr>
              <th>
                  <mat-toolbar role="heading">
                    <span>Scenario</span>
                    <span class="rightFace"></span>
                    <span ><i class="material-icons">arrow_drop_down</i></span>
                    </mat-toolbar>
                  </th>
            <th>
                <mat-toolbar role="heading">
                  <span>Owner</span>
                  <span class="rightFace"></span>
                  <span ><i class="material-icons">arrow_drop_down</i></span>
                  </mat-toolbar>
                </th>
            <th>
                <mat-toolbar role="heading">
                  <span>Date Created</span>
                  <span class="rightFace"></span>
                  <span ><i class="material-icons">arrow_drop_down</i></span>
                  </mat-toolbar>
                </th>
            <th>
              <mat-toolbar role="heading">
                <span>Version</span>
                <span class="rightFace"></span>
                <span ><i class="material-icons">arrow_drop_down</i></span>
                </mat-toolbar>
              </th>
              <th>
                  <mat-toolbar role="heading">
                    <span>Status</span>
                    <span class="rightFace"></span>
                    <span ><i class="material-icons">arrow_drop_down</i></span>
                    </mat-toolbar>
                  </th>
          </tr>
          <tr>
              <td><a href="#">CPS + M97</a></td>
            <td>Ted</td>
            <td>15 Jan 2018</td>
            <td>1.0</td>
            <td matTooltip="Info about the status">Published</td>
          </tr>
          <tr>
              <td><a href="#">CPS + M97</a></td>
              <td>Ferdy</td>
              <td>01 Jan 2018</td>
              <td>1.1</td>
              <td matTooltip="Info about the status" matTooltipClass="example-tooltip-blue">Production</td>
            </tr>
          
        </table> -->